integrations:
    - name: nri-prometheus
      config:
        standalone: false
        targets:
          - description: "github"
            urls: ["http://localhost:9171"]
    - name: ravendb
       exec: C:\Program Files\Prometheus-exporters\bin\github-exporter
      timeout: 0
      integration: false
      env:
        # Github API URL, shouldn't need to change this
        API_URL: https://api.github.com
        #  If supplied, the exporter will enumerate all repositories for that organization. Expected in the format "org1, org2"
        # ORGS:
        # If supplied, The repos you wish to monitor, expected in the format "user/repo1, user/repo2". Can be across different Github users/orgs
        # REPOS:
        # If supplied, the exporter will enumerate all repositories for that users. Expected in the format "user1, user2"
        # USERS:
        # If supplied, enables the user to supply a github authentication token that allows the API to be queried more often. Optional, but recommended
        # GITHUB_TOKEN:
        # If supplied instead of GITHUB_TOKEN, enables the user to supply a path to a file containing a github authentication token that allows the API to be queried more often. Optional, but recommended
        # GITHUB_TOKEN_FILE:
        # The port you wish to run the exporter on
        # LISTEN_PORT: 9171
        # The metrics URL path you wish to use
        # METRICS_PATH: /metrics
        # The level of logging the exporter will run with
        # LOG_LEVEL: debug
