---
title: {{ .HumanReadableIntegrationName }} monitoring integration
tags:
  - Integrations
  - On-host integrations
  - On-host integrations list
metaDescription: 'New Relic''s {{ .HumanReadableIntegrationName }} integration: how to enable, configure it, and an explanation of what data it reports.'
redirects:
  - /docs/{{ .IntegrationName }}-integration-new-relic-infrastructure
watermark: BETA
---

Our {{ .HumanReadableIntegrationName }} [integration](/docs/integrations/host-integrations/getting-started/introduction-host-integrations)
collects and sends dimensional metrics from {{ .HumanReadableIntegrationName }}.

Read on to install the integration, and to see what data we collect.

## Compatibility and requirements [#req]

Our integration is compatible with {{ .HumanReadableIntegrationName }} versions [FILL INFORMATION].

Before installing the integration, make sure that you meet the following requirements:

* [Install the infrastructure agent](/docs/infrastructure/install-infrastructure-agent/get-started/install-infrastructure-agent-new-relic), minimum version 1.19.2
* Linux distribution [compatible with the infrastructure agent](/docs/infrastructure/new-relic-infrastructure/getting-started/compatibility-requirements-new-relic-infrastructure#operating-systems)

## Install and activate [#install]

To install the {{ .HumanReadableIntegrationName }} integration, choose your setup:

<CollapserGroup>
  <Collapser
    id="linux-install"
    title="Linux installation"
  >
    1. Follow the instructions for [installing an integration](/docs/install-integrations-package), using the file name `nri-{{ .IntegrationName }}`.
    2. Change the directory to the integrations folder:

       ```
       cd /etc/newrelic-infra/integrations.d
       ```
    3. Copy of the sample configuration file:

       ```
       sudo cp {{ .IntegrationName }}-config.yml.sample {{ .IntegrationName }}-config.yml
       ```
    4. Edit the `{{ .IntegrationName }}-config.yml` file as described in the [configuration settings](#config).

    5. [Restart the infrastructure agent](/docs/infrastructure/new-relic-infrastructure/configuration/start-stop-restart-check-infrastructure-agent-status).
  </Collapser>

  <Collapser
    id="tarball"
    title="Tarball installation (advanced)"
  >
    You can also [install the integration from a tarball file](/docs/integrations/host-integrations/installation/install-host-integrations-built-new-relic#tarball).
    This gives you full control over the installation and configuration process.
  </Collapser>
</CollapserGroup>
## Find and use data [#find-and-use]

For more on how to find and use your data, see [Understand integration data](/docs/infrastructure/integrations/find-use-infrastructure-integration-data).

Metrics are attached to the Metric sample and the entities{{- range .Entities }} `{{.EntityType}}`,{{- end}}
[event types](/docs/using-new-relic/data/understand-data/new-relic-data-types#events-new-relic).
You can [query this data](/docs/using-new-relic/data/understand-data/query-new-relic-data) for troubleshooting purposes
or to create custom charts and dashboards.

## Metric data [#metrics]
{{- range .Entities }}

The following dimensional metrics are captured scraping the exporter and linked to the entity {{ .EntityType }}:

| Name | Description | Dimensions |
| --- | --- | --- |
{{- range .Metrics -}}
{{- $dimensions:="" -}}
{{- range .Dimensions -}}
    {{$dimensions = (printf "%v %v" $dimensions .Name)}}
{{- end }}
| `{{ .Name }} ({{ .Type }})` |  {{ .Description }} | {{ $dimensions }} |
{{- end }}


{{- end }}

## Check the source code [#source-code]

This integration is open source software. That means you can
[browse its source code](https://github.com/newrelic/newrelic-prometheus-exporters-packages "Link opens in a new window.")
 and send improvements, or create your own fork and build it.

Moreover this integrations leveraged an opensource exporter created by the community.

## Check the source code [#source-code]

This integration is open source software. That means you can
[browse its source code](https://github.com/newrelic/newrelic-prometheus-exporters-packages "Link opens in a new window.")
and send improvements, or create your own fork and build it.

Moreover this integrations leveraged an opensource exporter created by the community.
