version: '3.8'
services:
  e2e_mongo-1-1:
    container_name: "e2e_mongo-1-1"
    image: percona/percona-server-mongodb:5.0
    ports:
      - "17001:27017"
    command: mongod --replSet rs1 --shardsvr --port 27017  --oplogSize 16
    links:
      - e2e_mongo-1-2:e2e_mongo-1-2

  e2e_mongo-1-2:
    container_name: "e2e_mongo-1-2"
    image: percona/percona-server-mongodb:5.0
    ports:
      - "17002:27017"
    command: mongod --replSet rs1 --shardsvr --port 27017  --oplogSize 16

  e2e_mongo-1-arbiter:
    container_name: "e2e_mongo-1-arbiter"
    image: percona/percona-server-mongodb:5.0
    ports:
      - "17011:27017"
    command: mongod --replSet rs1 --shardsvr --port 27017  --oplogSize 16

  e2e_mongo-rs1-setup:
    container_name: "e2e_mongo-rs1-setup"
    image: percona/percona-server-mongodb:5.0
    depends_on:
      - "e2e_mongo-1-1"
      - "e2e_mongo-1-2"
      - "e2e_mongo-1-arbiter"
    links:
      - e2e_mongo-1-1:e2e_mongo-1-1
      - e2e_mongo-1-2:e2e_mongo-1-2
      - e2e_mongo-1-arbiter:e2e_mongo-1-arbiter
    volumes:
      - ./scripts:/scripts
    environment:
      - MONGO1=e2e_mongo-1-1
      - MONGO2=e2e_mongo-1-2
      - ARBITER=e2e_mongo-1-arbiter
      - RS=rs1
    entrypoint: [ "/scripts/setup-replicaset.sh" ]
