**/target
.vscode
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea/
**/target/**
**/bin/**
**/obj/**
**/definitions/**

**/*-cloned/**
**/*-cloned/.*
**/*-cloned
# Dependency directories (remove the comment below to include it)
# vendor/

*.tmp
**/obj/Release/**
**/bin/Release/**

**/Product.wxs

**/versioninfo.json

.DS_Store 
**/.DS_Store

nri-config-generator/dist/*
nri-config-generator/vendor
nri-config-generator/templates/*
!nri-config-generator/definitions
!nri-config-generator/templates/config.json.tmpl
.env
dist

tests/dist