integrations:
    - name: nri-githubactions
      config:
        # Personal Access Token
        # The repo scope should be granged and public_repo one for public repositories
        # https://developer.github.com/v3/actions/
        token: *******

        # Port to expose scrape endpoint on, If this is not provided a random port will be used to launch the exporter
        exporter_port: 9999

        # List of Github repositories to monitor
        # List all repositories you want get information. Format <org>/<repo>,<org>/<repo2>,<org>/<repo3> (like test/test)
        repositories:
            - <org>/<repo>
            #- repo2

        # Refresh time Github Actions status in seconds. By default 30 seconds
        refresh: 30