integrations:
    - name: nri-aerospike
      config:
        # API URL of the aerospike service
        aerospike_db_host: localhost
        aerospike_db_port: 3000

        # Port to expose scrape endpoint on, If this is not provided a random port will be used to launch the exporter
        exporter_port: 9145

        # Cluster name is used on the aerospike.prometheus.json.template
        aerospike_cluster_name: aerospike_cluster

        namespace_metrics_allowlist:
          - 'client_read_[a-z]*'
          - stop_writes
          - storage-engine.file.defrag_q
          - client_write_success
          - 'memory_*_bytes'
          - objects
          - '*_available_pct'

        set_metrics_allowlist:
          - objects
          - tombstones

        node_metrics_allowlist:
          - uptime
          - cluster_size
          - 'batch_index_*'
          - 'xdr_ship_*'

        xdr_metrics_allowlist:
          - success
          - latency_ms
          - throughput
          - lap_us

        job_metrics_allowlist:
          - rps
          - active-threads
          - job-progress
          - run-time
          - recs-throttled
          - recs-succeeded
          - recs-failed
          - net-io-bytes

        sindex_metrics_allowlist:
          - entries
          - ibtr_memory_used
          - nbtr_memory_used
          - query_basic_complete
          - query_basic_error
          - query_basic_abort
          - query_basic_avg_rec_count

        namespace_metrics_blocklist:
          - memory_used_sindex_bytes
          - client_read_success

        node_metrics_blocklist:
          - 'batch_index_*_buffers'

        user_metrics_users_allowlist:
          - admin
          - superuser
          - aerospikeUser1
          - aerospikeUser2

        user_metrics_users_blocklist:
          - admin
          - superuser

        # Used in ape.toml.tmpl file
        label_type: development
        label_source: aerospike

        exporter_files_path: /tmp

        # transformations:
        #   - description: "General processing rules"
        #     ignore_metrics:
        #     - prefixes:
        #       - "go_"
        #       - "process_"

