integrations:
    - name: nri-aerospike
      config:
        # API URL of the aerospike service
        aerospike_db_host: localhost
        aerospike_db_port: 3000

        # Port to expose scrape endpoint on, If this is not provided a random port will be used to launch the exporter
        exporter_port: 9145

        # Cluster name is used on the aerospike.prometheus.json.template
        aerospike_cluster_name: 

        # Used in ape.toml.tmpl file
        label_type: development
        label_source: aerospike

        exporter_files_path: /tmp

        # transformations:
        #   - description: "General processing rules"
        #     ignore_metrics:
        #     - prefixes:
        #       - "go_"
        #       - "process_"

