{
    "exec": [
        "{{ .exporter_binary_path }}",

        "--config",
        "{{ .config.exporter_files_path }}/ape.toml",

        "--gauge-list",
        "{{ .config.exporter_files_path }}/gauge_stats_list.toml"
    ]
}