{
    "exec": [
        "{{ .exporter_binary_path }}",

        {{ if .config.powerdns_url}}
        "--api-url",
        "{{.config.powerdns_url}}",
        {{end}}

        {{ if .config.api_key}}
        "--api-key",
        "{{.config.api_key}}",
        {{end}}

        "--listen-address",
        ":{{.exporter_port}}",

        "--metric-path",
        "/metrics"
    ]
}
