integrations:
    - name: nri-ravendb
      config:
        # Url to connect to your RavenDb instance
        ravendb_url: http://ravendb:8080

        # Port to expose scrape endpoint on, If this is not provided a random port will be used to launch the exporter
        exporter_port: 9440

        # If set, connection to RavenDB will be authenticated with a client certificate
        # use_auth: <true/false>

        # Path to client public certificate used for authentication
        # client_cert:

        # Path to client private key used for authentication
        # client_key:

        # Password for the client key (if it is encrypted)
        # client_key_password:

        # Timeout when calling RavenDB
        # timeout: 10s
