integrations:
    - name: nri-ravendbs

      #interval: 15s
      config:
        # Url to connect to your RavenDb instance
        ravendb_url: http://localhost:8080

        # If set, connection to RavenDB will be authenticated with a client certificate
        # use_auth: <true/false>

        # Path to client public certificate used for authentication
        # client_cert:

        # Path to client private key used for authentication
        # client_key:

        # Password for the client key (if it is encrypted)
        # client_key_password:

        # Timeout when calling RavenDB
        # timeout: 10s

        # Port to expose scrape endpoint on
        # exporter_port: 9440

        # Enable verbose logging
        # VERBOSE: false
