integrations:
    - name: nri-prometheus
      config:
        standalone: false
        targets:
          - description: "ravendb"
            urls: ["http://localhost:9440"]
    - name: ravendb
      exec: C:\Program Files\Prometheus-exporters\bin\ravendb-exporter.exe
      timeout: 0
      env:
        # Url to connect to your RavenDb instance
        RAVENDB_URL: http://localhost:8080

        # If set, connection to RavenDB will be authenticated with a client certificate
        # USE_AUTH: <true/false>

        # Path to client public certificate used for authentication
        # CLIENT_CERT:

        # Path to client private key used for authentication
        # CLIENT_KEY:

        # Password for the client key (if it is encrypted)
        # CLIENT_KEY_PASSWORD:

        # Timeout when calling RavenDB
        # TIMEOUT: 10s

        # Port to expose scrape endpoint on
        # PORT: 9440

        # Enable verbose logging
        # VERBOSE: false
