{
  "config_protocol_version": "1",
  "action": "register_config",
  "config_name": "cfg-{{.integration}}",
  "config": {
    "variables": {},
    "integrations": [
         {
            "name": "nri-prometheus",
            {{if .env.interval}}
                "interval": "{{.env.interval}}",
            {{end}}
            "config": {
                "standalone": false,
                "targets": [
                    {
                        "urls": [
                            "http://localhost:{{.exporter_port}}"
                        ]
                    }
                ]
            }
        },
        {{.exporter_definition}}
    ]
  }
}
