{
  "config_protocol_version": "1",
  "action": "register_config",
  "config_name": "cfg-{{.integration}}",
  "config": {
    "variables": {},
    "integrations": [
         {
            "name": "nri-prometheus",
            {{ if .env.interval }}"interval": "{{.env.interval}}",{{ end }}
            "config": {
                "standalone": false,
                {{ if .env.VERBOSE }}"verbose": "{{.env.VERBOSE}}",{{ end }}
                "transformations":
                [
                    {{/* Adds transformation rules from the integration config file */}}
                    {{ range $a := (fromJson .transformations)}}
                        {{ toJson $a }},
                    {{ end }}
                    {{/* Add below any specific rules for this template. These will be hardcoded. */}}
                ],
                "integration_metadata":{
                    "version": "{{.integration_version}}",
                    "name": "{{.integration}}"
                },
                "targets": [
                    {
                        "urls": [
                            "http://localhost:{{.exporter_port}}"
                        ]
                    }
                ]
            }
        },
        {{.exporter_definition}}
    ]
  }
}
