{
    "exec": [
        "{{ .exporter_binary_path }}",

        {{ if .config.hostname}}
        "--ibmmq.connName",
        "{{.config.hostname}}({{.config.port}})",
        {{end}}

        {{ if .config.queue_manager}}
        "--ibmmq.queueManager",
        "{{.config.queue_manager}}",
        {{end}}

        {{ if .config.channel}}
        "--ibmmq.channel",
        "{{.config.channel}}",
        {{end}}

        {{ if .config.username}}
        "--ibmmq.userid",
        "{{.config.username}}",
        {{end}}

        "--ibmmq.httpListenPort",
        "{{.exporter_port}}",

        {{ if .config.monitored_queues}}
        "--ibmmq.monitoredQueues",
        "{{.config.monitored_queues}}",
        {{end}}

        {{ if .config.monitored_channels}}
        "--ibmmq.monitoredChannels",
        "{{.config.monitored_channels}}",
        {{end}}

        {{ if .config.monitored_topics}}
        "--ibmmq.monitoredTopics",
        "{{.config.monitored_topics}}",
        {{end}}

        {{ if .config.monitored_subscriptions}}
        "--ibmmq.monitoredSubscriptions",
        "{{.config.monitored_subscriptions}}",
        {{end}}

        "--ibmmq.httpMetricPath",
        "/metrics",

        "--ibmmq.useStatus"
    ],

    {{ if (or .config.password .config.mqsslkeyr .config.ccdt_url .config.ld_library_path .config.home) }}
    "env": {
            {{ if .config.mqsslkeyr}}
            "MQSSLKEYR":"{{.config.mqsslkeyr}}",
            {{end}}

            {{ if .config.ccdt_url }}
            "MQCCDTURL": "{{.config.ccdt_url}}",
            "IBMMQ_CONNECTION_CCDTURL": "{{.config.ccdt_url}}",
            {{end}}

            {{ if .config.password}}
            "IBMMQ_CONNECTION_PASSWORD": "{{.config.password}}",
            {{end}}

            {{ if .config.ld_library_path}}
            "LD_LIBRARY_PATH": "{{.config.ld_library_path}}",
            {{end}}

            {{ if .config.home}}
            "HOME": "{{.config.home}}",
            {{end}}
    }
    {{ end }}

}
