{
    "exec": [
        "{{ .exporter_binary_path }}",

        {{ if .config.hostname}}
        "--ibmmq.connName",
        "{{.config.hostname}}({{.config.port}})",
        {{end}}

        {{ if .config.queue_manager}}
        "--ibmmq.queueManager",
        "{{.config.queue_manager}}",
        {{end}}

        {{ if .config.channel}}
        "--ibmmq.channel",
        "{{.config.channel}}",
        {{end}}

        {{ if .config.username}}
        "--ibmmq.userid",
        "{{.config.username}}",
        {{end}}

        {{ if .config.password}}
        "--ibmmq.password",
        "{{.config.password}}",
        {{end}}

        {{ if .config.exporter_port}}
        "--ibmmq.httpListenPort",
        "{{.config.exporter_port}}",
        {{end}}

        {{ if .config.monitored_queues}}
        "--ibmmq.monitoredQueues",
        "{{.config.monitored_queues}}",
        {{end}}

        "--ibmmq.httpMetricPath",
        "/metrics"
    ]
}
