integrations:
    - name: nri-ibmmq
      config:
        # Hostname of the IBM MQ service
        hostname: localhost

        # Port of the IBM MQ service
        port: 1414

        # Queue Manager name
        queue_manager: QM1

        # Channel name used to connect to the queue manager. Typically you can use SYSTEM.DEF.SVRCONN
        channel: SYSTEM.DEF.SVRCONN

        # Username to authenticate. This config should be not populated if password is not set.
        # If the password is not specified, user/password authentication is disabled and the username should not be specified in the configuration.
        # The exporter will connect sending as clientID the user executing the integration. Depending on the agent installation mode it could be "root" or "nri-agent".
        username:

        # Password to authenticate. 
        password:

        # Queues to monitor (wildcards and ! to exclude are accepted) .ie  "PROD*,!DEV*"
        monitored_queues:

        # Port to expose scrape endpoint on, If this is not provided a random port will be used to launch the exporter
        exporter_port: 9157
        
        # How long until a scrape request times-out (defaults to 5s)
        # scrape_timeout: 5s

        # transformations:
        #   - description: "General processing rules"
        #     ignore_metrics:
        #     - prefixes:
        #       - "go_"
        #       - "process_"

        # The following parameters will be passed as environment variables directly to the IBM mq exporter in order to set up advanced connection setups such as TLS and mTLS.

        # MQSSLKEYR specifies the location of the keystore repository that holds the digital certificate belonging to the user or to the server.
        # Notice that mqsslkeyr should be specified without the extension to point to both `key.kdb` and `key.sth`
        # https://www.ibm.com/docs/en/ibm-mq/9.1?topic=variables-mqsslkeyr
        # mqsslkeyr: /key

        # Path to the ccdt file. Two different environment variable will be set automatically: MQCCDTURL and IBMMQ_CONNECTION_CCDTURL.
        # MQCCDTURL is needed by the IBMMQ client, IBMMQ_CONNECTION_CCDTURL by the exporter.
        # ccdt_url: file:///ccdt.json

        # IBMMQ Client needs permissions to write in a directory specified in the HOME environment variable
        # https://www.ibm.com/support/pages/apar/IT32860
        # home: /tmp

        # LD_LIBRARY_PATH environment variable for the IBMMQ Client used by the exporter.
        # Different paths can be specified with the ":" separator.
        # ld_library_path: /opt/mqm/lib64:/usr/lib64
