integrations:
    - name: nri-mongodb3
      config:
        # User-defined name to uniquely identify the cluster being monitored. Required.
        mongodb_cluster_name:

        # MongoDB connection URI. If used overwrites all other connection parameters.
        mongodb_uri:

        # MongoDB direct connect. Whether or not a direct connect should be made.
        # Direct connections are not valid if multiple hosts are specified or an SRV URI is used, for example for mongoDB Atlas.
        mongodb_direct_connect: true

        # List of comma separated databases.collections to retrieve collection stats.
        collection_filters:

        # List of comma separated databases.collections to retrieve index stats.
        index_filters:

        # Enable/Disable collection of Database metrics
        database_stats: true

        # Enable/Disable collection of Collections metrics
        collection_stats: true

        # Enable/Disable collection of Index metrics
        index_stats: true

        # Enable/Disable collection of Replica Set metrics
        replicaset_stats: true

        # Enable/Disable collection of Top Admin metrics
        top_stats: true

        # Enable/Disable collection of Diagnostic metrics
        diagnostic_stats: true

        # Port to expose scrape endpoint on, If this is not provided a random port will be used to launch the exporter
        exporter_port: 9126

        # How long until a scrape request times-out. If not provided the default timeout is 5s
        scrape_timeout: 30s

        # transformations:
        #   - description: "General processing rules"
        #     ignore_metrics:
        #     - prefixes:
        #       - "go_"
        #       - "process_"

        # The following parameters will be passed as environment variables directly to the mongodb exporter

        # MONGODB_URI environment variable for the MongoDB connection URI used by the exporter.
        # mongodb_uri: mongodb://user:pass@localhost:27017
