name: e2e
on:
  workflow_dispatch:
    inputs:
      exporter:
        description: 'Name of the exporter to run e2e'
        required: true

env:
  GORELEASER_VERSION: 'v1.13.1'

jobs:
  e2e-test:
    name: E2E tests for ${{ github.event.inputs.exporter }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version-file: nri-config-generator/go.mod
      - name: Install goreleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          version: ${{ env.GORELEASER_VERSION }}
          install-only: true
      - name: build-${{ github.event.inputs.exporter }}
        run: make build-${{ github.event.inputs.exporter }}
      - name: e2e-test
        uses: newrelic/newrelic-integration-e2e-action@v1
        with:
          spec_path: exporters/${{ github.event.inputs.exporter }}/e2e/e2e_spec.yml
          account_id: ${{ secrets.COREINT_E2E_ACCOUNT_ID }}
          api_key: ${{ secrets.COREINT_E2E_API_KEY }}
          license_key: ${{ secrets.COREINT_E2E_LICENSE_KEY }}
