name: nri-config-generator pipeline

on:
  pull_request:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GO_VERSION: '1.16'
  DEFAULT_OS: ubuntu-20.04

jobs:
  golangci-lint:
    name: Validate code via golangci
    runs-on: "${{env.DEFAULT_OS}}"
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          only-new-issues: true
          working-directory: nri-config-generator

  snyk:
    name: Run security checks via snyk
    runs-on: "${{env.DEFAULT_OS}}"
    steps:
      - uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.OHAI_DOCKER_HUB_ID }}
          password: ${{ secrets.OHAI_DOCKER_HUB_PASSWORD }}
      - name: Scan code for vulnerabilities
        env:
          SNYK_TOKEN: ${{ secrets.COREINT_SNYK_TOKEN }}
        run: make nri-config-generator/snyk-test
