name: nri-config-generator pipeline

# Pipeline: nri-config-generator
# The purpose of this pipeline is guarantee that the code in the config-generator is correct
# Actually this project is used to build different executables depending on the integrations
# Although this code doesn't create a excutable at all, we need to ensure the following steps:
#  - golang-lint: Static analysis of the code
#  - test-nix: Run tests in a *nix environment
#  - test-windows: Run tests in a windows environment

on:
  pull_request:
    branches: [ main ]
    paths: [ nri-config-generator/** ]

jobs:

  # TODO use https://github.com/newrelic/newrelic-infra-checkers
  golangci-lint:
    name: Validate code via golangci
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          working-directory: nri-config-generator

  test-nix:
    name: Run tests on *Nix
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'nri-config-generator/go.mod'
      - name: Tests
        working-directory: nri-config-generator
        run: make test

#  test-windows:
#    name: Run unit tests on Windows
#    runs-on: windows-2019
#    steps:
#      - uses: actions/checkout@v3
#      - uses: actions/setup-go@v3
#        with:
#          go-version-file: 'nri-config-generator/go.mod'
#      - name: Tests
#        shell: pwsh
#        working-directory: nri-config-generator
#        run: |
#          go test ./...
