###  On Pr creation against main
###
###        checking_pr
###   +-----------------------+
###   |                       |
###   | Runs sanity checks    |
###   |                       |
###   | Tests Packages linux  |
###   | if enabled            |
###   |                       |
###   +-----------------------+

on:
  pull_request:
    branches: [ main ]

###
###   Checking PR # Checks the file and the info provided when an exporter is modified
###
name: Checking PR
jobs:
  checking_pr:
    name: Checking PR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: actions/setup-go@v2
        with:
          go-version-file: nri-config-generator/go.mod
      - name: Check if exporters have been modified and if so run checks
        id: check
        run : |
          git fetch -at origin --unshallow
          source ./scripts/common_functions.sh
          shouldDoRelease
          loadVariables $EXPORTER_PATH
          checkExporter
          setStepOutput
          if [ "$ERRORS" != "" ];then
            echo Following errors have been found: $ERRORS
            exit 1
          fi
      - name: Install goreleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          version: v1.13.1
          install-only: true
      - name: Compile exporter
        if: ${{ steps.check.outputs.CREATE_RELEASE == 'true'}}
        run : |
          make build-${{ steps.check.outputs.NAME }}
      - name: e2e-test
        if: ${{ steps.check.outputs.CREATE_RELEASE == 'true'}}
        uses: newrelic/newrelic-integration-e2e-action@v1
        with:
          spec_path: exporters/${{ steps.check.outputs.NAME }}/e2e/e2e_spec.yml
          account_id: ${{ secrets.COREINT_E2E_ACCOUNT_ID }}
          api_key: ${{ secrets.COREINT_E2E_API_KEY }}
          license_key: ${{ secrets.COREINT_E2E_LICENSE_KEY }}
