
name: Release
# This action will trigger when the prerelease checkbox is unmarked.
# The GH release is already automatically created as prerelease on merging to master by the prerelease action
on:
  release:
    types: [released]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  ORIGINAL_REPO_NAME: ${{ github.event.repository.full_name }}
  TAG: ${{ github.event.release.tag_name }}

jobs:
  publish-to-s3:
    name: Send release assets to S3
    runs-on: ubuntu-latest
    steps:
      - id: release_details
        run: |
          regex="(.*)-([0-9]+\.[0-9]+\.[0-9]+)"

          if [[ $TAG =~ $regex ]]; then
              echo "::set-output name=INTEGRATION_NAME::${BASH_REMATCH[1]}"
              echo "::set-output name=INTEGRATION_VERSION::${BASH_REMATCH[2]}"
          else
              exit 1
          fi
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.OHAI_DOCKER_HUB_ID }}
          password: ${{ secrets.OHAI_DOCKER_HUB_PASSWORD }}
      - name: Publish to S3 action
        uses: newrelic/infrastructure-publish-action@v1
        env:
          AWS_S3_BUCKET_NAME: "nr-downloads-main"
          AWS_S3_LOCK_BUCKET_NAME: "onhost-ci-lock"
          AWS_REGION: "us-east-1"
        with:
          disable_lock: false
          run_id: ${{ github.run_id }}
          tag: ${{ env.TAG }}
          app_version: ${{ steps.release_details.outputs.INTEGRATION_VERSION }}
          app_name: ${{ steps.release_details.outputs.INTEGRATION_NAME }}
          repo_name: ${{ github.event.repository.full_name }}
          schema: "custom"
          schema_url: "https://raw.githubusercontent.com/${{ github.event.repository.full_name }}/${{ env.TAG }}/scripts/s3-publish-schema.yml"
          aws_region: ${{ env.AWS_REGION }}
          aws_role_arn: ${{ secrets.OHAI_AWS_ROLE_ARN_PRODUCTION }}
          aws_role_session_name: ${{ secrets.OHAI_AWS_ROLE_SESSION_NAME_PRODUCTION }}
          aws_access_key_id: ${{ secrets.OHAI_AWS_ACCESS_KEY_ID_PRODUCTION }}
          aws_secret_access_key: ${{ secrets.OHAI_AWS_SECRET_ACCESS_KEY_PRODUCTION }}
          aws_s3_bucket_name: ${{ env.AWS_S3_BUCKET_NAME }}
          aws_s3_lock_bucket_name: ${{ env.AWS_S3_LOCK_BUCKET_NAME }}
          gpg_passphrase: ${{ secrets.OHAI_GPG_PASSPHRASE }}
          gpg_private_key_base64: ${{ secrets.OHAI_GPG_PRIVATE_KEY_BASE64 }}
      - name: Test package from prod repo
        uses: newrelic/integrations-pkg-test-action/linux@v1
        with:
          tag: ${{ steps.release_details.outputs.INTEGRATION_VERSION }}
          integration: '${{ steps.release_details.outputs.INTEGRATION_NAME }}'
          packageLocation: repo
          upgrade: false
